# git ignore file
CnpSdkForNet/CnpSdkForNet/bin
CnpSdkForNet/CnpSdkForNet/obj
CnpSdkForNet/CnpSdkForNetTest/bin
CnpSdkForNet/CnpSdkForNetTest/obj
CnpSdkForNet/CnpSdkForNet/obj/Release/LitleSdkForNet.csproj.FileListAbsolute.txt
CnpSdkForNet/CnpSdkForNet.VisualState.xml
CnpSdkForNet/TestResult.xml
CnpSdkForNet/.vs
CnpSdkForNet/.idea
*.zip
*.suo
Project.sln
