<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Cnp.Sdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Cnp.Sdk.Properties.Settings>
			<setting name="reportGroup" serializeAs="String">
				<value>Default Report Group</value>
			</setting>
			<setting name="onlineBatchUrl" serializeAs="String">
				<value>payments.vantivprelive.com</value>
			</setting>
			<setting name="onlineBatchPort" serializeAs="String">
				<value>15000</value>
			</setting>
			<setting name="requestDirectory" serializeAs="String">
				<value>C:\Vantiv\</value>
			</setting>
			<setting name="responseDirectory" serializeAs="String">
				<value>C:\Vantiv\</value>
			</setting>
			<setting name="logFile" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="neuterAccountNums" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="neuterUserCredentials=" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="url" serializeAs="String">
				<value>https://www.testvantivcnp.com/sandbox/communicator/online</value>
			</setting>
			<setting name="proxyHost" serializeAs="String">
				<value />
			</setting>
			<setting name="proxyPort" serializeAs="String">
				<value />
			</setting>
			<setting name="username" serializeAs="String">
				<value>SDKTEAM12</value>
			</setting>
			<setting name="password" serializeAs="String">
				<value>V2b9F4k7</value>
			</setting>
			<setting name="keepAlive" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="printxml" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="timeout" serializeAs="String">
				<value>6000</value>
			</setting>
			<setting name="merchantId" serializeAs="String">
				<value>1288791</value>
			</setting>
			<setting name="sftpUrl" serializeAs="String">
				<value>batch.vantivprelive.com</value>
			</setting>
			<setting name="sftpUsername" serializeAs="String">
				<value>sdkv12txn</value>
			</setting>
			<setting name="sftpPassword" serializeAs="String">
				<value>f4Vt2T4A</value>
			</setting>
			<setting name="useEncryption" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="vantivPublicKeyId" serializeAs="String">
				<value>94276408</value>
			</setting>
			<setting name="pgpPassphrase" serializeAs="String">
				<value>sdksupport2018</value>
			</setting>
			<setting name="GnuPgDir" serializeAs="String">
				<value>C:\Program Files (x86)\GnuPG\bin</value>
			</setting>
			<setting name="encryptOltpPayload" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="oltpEncryptionKeySequence" serializeAs="String">
				<value>10000</value>
			</setting>
			<setting name="oltpEncryptionKeyPath" serializeAs="String">
				<value>C:\Users\e5651806\encryptionKey.asc</value>
			</setting>
		</Cnp.Sdk.Properties.Settings>
	</userSettings>
</configuration>